.icon-48-emailtemplates {
      background-image: url(../images/l_emailtemplates.png);
      padding-left:60px!important;
}

.icon-48-emailtemplate {
      background-image: url(../images/l_emailtemplates.png);
      padding-left:60px!important;
}

